.weekDayWeatherItem {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    
    
}

.day {
    min-width: 97px;
    text-align: initial;
}

.degreeDay {
    min-width: 20px;
    text-align: center;
}

.degreeNight {
    min-width: 20px;
}