.appWrapper{
    max-width: 600px;
    margin: 10px auto;
    background-image: url("./../img/Background.png");
    color: white;
}



.timeWrapper {
    max-width: 480px;
    margin: 0 auto;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    max-height: 95px;
    overflow: hidden;
    padding-left: 15px;
    
}

.clear {
    clear:both;
}

.weekDayWrapper {
    margin: 0 auto;
    max-width: 475px;
}